<div class="container">
    <h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Welcome <%= name %></p>
    <a href="/addSubject"><button type="button" class="btn btn-info">Add Subject</button></a>
</div>