<section class="Menu" style="margin-top: 60px;">
    <div class="container">
        <div class="layout">
            <div class="row">
              
               <div class="col-sm-4">
                 <img src="../assets/biology.png" height="126px" width="126px" alt="">
                 
             </div>
            
               
                <div class="col-sm-8"><h1>Spanish</h1>
               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque modi veritatis cumque, sapiente delectus deserunt, qui eaque libero animi dicta nam. Mollitia tenetur suscipit perspiciatis iste laudantium alias eum laboriosam. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eos harum, assumenda labore alias officia dicta nisi esse. Temporibus unde quaerat aperiam molestiae blanditiis, repellat id eligendi perferendis accusamus nesciunt nam! </p>
               <button class="btn btn-success">Register</button>
               <button class="btn btn-success">Webinar Link</button>
              
                   
             </div>
            </div>
            <div class="box" >
              <div class="row">
                <div class="col-sm-8">
                 <table class="table">
                   <thead class="table-dark" >
                     <tr>
                       <th scope="col">Webinar</th>
                       <th scope="col">Topic</th>
                       
                     </tr>
                   </thead>
                   <tbody>
                     <tr>
                       <th scope="row">1</th>
                       <td>Jaco Lorem ipsum dolor sit, amet consectetur adipisicin</td>
                      
                     </tr>
                     <tr>
                       <th scope="row">2</th>
                       <td>Jaco Lorem ipsum dolor sit, amet consectetur adipisicin</td>
                       
                     </tr>
                     <tr>
                       <th scope="row">3</th>
                       
                       <td>Jaco Lorem ipsum dolor sit, amet consectetur adipisicin</td>
                     </tr>
                   </tbody>
                 </table>
                </div>
                <div class="col-sm-4">
                 <div class="card text-white bg-success mb-3" style="max-width: 22rem;">
                   <div class="card-header">Header</div>
                   <div class="card-body">
                     <h5 class="card-title">Success card title</h5>
                     <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content. <h4>₹ 2000/-</h4></p>
                     <button class="btn btn-danger">Buy Now</button>
                   </div>
                 </div>
                </div>
              </div>
            
           </div>
        </div>
    </div>
</section>