<section class="landingpage">
  <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <ol class="carousel-indicators">
      <li data-bs-target="#myCarousel" data-bs-slide-to="0" class="active"></li>
      <li data-bs-target="#myCarousel" data-bs-slide-to="1"></li>
      <li data-bs-target="#myCarousel" data-bs-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">

        <!-- <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg> -->
        <img src="../assets/3.png" alt="">
        <div class="container">
            
          <div class="carousel-caption text-start">
           
            <h1>AUGMENT SKILL</h1>
            <div class="row">
                <div class="col-sm-6">
                    <p>Cras justo odio,r id nibh ultricies vehicula ut id elit.</p>
                </div>
            </div>
            
            <p><a class="btn btn-primary" href="#" role="button">Sign up today</a></p>
           
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <!-- <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg> -->
        <img src="../assets/v1.jpg" alt="">
        <div class="container">
          <div class="carousel-caption text-end">
            <h1>Upcoming Webinar</h1>
           
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
            <p><a class="btn btn-primary" href="#" role="button">Learn more</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <!-- <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg> -->
        <img src="../assets/p1.jpg" alt="">
        <div class="container">
          <div class="carousel-caption text-start">
            <h1>Join our free webinars.</h1>
            <div class="row">

              <div class="col-sm-6">
                
                <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. </p>
                <p><a class="btn btn-primary" href="#" role="button">Browse gallery</a></p>
              </div>
            </div>
          
          </div>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </a>
  </div>
    

   <!-- cards -->
   <section class="cardss">
    <div class="container">
         <!-- cards -->
         <section class="searchbar">
          <div class="box-container">
           <table class="element-container">
             <tr>
               <td>
                 <input class="search" type="text" placeholder="Search">
               </td>
               <td>
                 <a href=""> <img src="../assets/magnifying-glass.png" width="30px" height="30px" alt=""></a>
               </td>
             </tr>
           </table>
          </div>
        </section>
    
    
    
    
    
        <section class="course" style="margin-top:70px ;">
          <div class="container">
            <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
              <% for(var i = 0;i< course.length;i++) {%>
              <div class="col <%=course[i].category%>">
                <div class="p-3 border" style="background-color:cornflowerblue; border-radius: 15%;">
                  <div class="nested">
                        <img src="../assets/uploads/<%= course[i].img %>" width="55" height="55" alt=""> 
                       <div class="hell"><%= course[i].subject %></div> 
                        <button type="button" class="btn btn-success">Success</button>              
                    </div>         
                </div>
              </div>
            
              <%}%>
             
             
        </div>
        </section>
    
    
    
    
    
        <!-- cardsend -->
        
    </div>






  

    <div class="container marketing">

 


        <!-- START THE FEATURETTES -->
    
        <hr class="featurette-divider">
    
        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It’ll blow your mind.</span></h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
          </div>
          <div class="col-md-5">
            <!-- <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg> -->
                  <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" src="../assets/3785210-removebg-preview.png" width="500" height="500" alt="">
          </div>
        </div>
    
        <hr class="featurette-divider">
    
        <div class="row featurette">
          <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Oh yeah, it’s that good. <span class="text-muted">See for yourself.</span></h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
          </div>
          <div class="col-md-5 order-md-1">
            <!-- <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg> -->
            <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" src="../assets/3784896.jpg" width="500" height="500" alt="">
          </div>
        </div>
    
        <hr class="featurette-divider">
    
        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
          </div>
          <div class="col-md-5">
            <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>
    
          </div>
        </div>
    
        <hr class="featurette-divider">
    
        <!-- /END THE FEATURETTES -->
        
      </div><!-- /.container -->






  </section>
</section>
